# LaTeX auxiliary files
main.xdy
main.synctex.gz
main.toc
main.out
main.log
main.aux
main.idx
main.ilg
main.ind
main.bbl
main.blg
main.run.xml
main-blx.bib
main.bcf
main.lof
main.lot
main.acn
main.acr
main.glo
main.gls
main.glg
main.glsdefs
main.mw
main.nlo
main.nls
main.fls
main.fdb_latexmk
